.auth-input{
    height: 45px;
    line-height: 45px;
    background: transparent;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 5px;
    color: #d9d9d9;
    outline: medium none;
    margin-bottom: 1rem;
}

.auth-label{
    display: inline-block;
    margin-bottom: 1rem;
    color: #d9d9d9;
    font-size: 15px;
}